<!-- main app container -->
<div class="card">
    <h5 class="card-header">Log in Form</h5>
    <div class="card-body">
        <form [formGroup]="logInForm" (ngSubmit)="onSubmit()" class="log-in-form-container">
            <div class="form-row">
                <label>Email <span class="in-mandatory">*</span></label>
                <input type="text" formControlName="email" class="form-control" 
                [ngClass]="{ 'is-invalid': f.email.errors }" />
                <div *ngIf="f.email.errors && f.email.touched" class="invalid-feedback">
                    <div class="error-message" *ngIf="f.email.errors.required">
                        Email is required</div>
                    <div class="error-message" *ngIf="f.email.errors.email">
                        Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-row">
                <label>Password <span class="in-mandatory">*</span></label>
                <input type="password" formControlName="password" class="form-control" 
                [ngClass]="{ 'is-invalid': f.password.errors }" />
                <div *ngIf="f.password.errors  && f.password.touched" class="invalid-feedback">
                    <div class="error-message" *ngIf="f.password.errors.required">
                        Password is required</div>
                    <div class="error-message" *ngIf="f.password.errors.minlength">
                        Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="button-container">
                <button [disabled]="logInForm.invalid">Log in</button>
                <button type="reset" (click)="onReset()" [routerLink]="['../']">Cancel</button>
            </div>
        </form>
    </div>
</div>
